# Only **mimic_chart_CV** dataset has the case where there are itemids should be divided into numeric variables but currently divided into categorical type. Because for mimic_chart_MV, we can directly get all the itemids' type from column 'param_type' in file './data/d_items_chartevents.csv' (the value for column 'dbsource' =='metavision')

In [2]:
import pandas as pd
import numpy as np
import re
import math
pd.options.mode.chained_assignment = None

## Because I need to update the file "mimic_chart_CV_reg_pre.csv", so starting from reading original data from file "mimic_chart_TS_carevue.csv". Also reading original data from "mimic_chart_TS_metavision.csv" because we need some info from original mimic_chart_MV data to do preprocess on mimic_chart_CV original data

## Below are a bunch of regular preprocessing on mimic_chart_CV data

In [3]:
mimic_chart_CV = pd.read_csv("./data/mimic_chart_TS_carevue.csv")

/Users/shutingcui/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8,10,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

* **A. delete 2 icu_stays that are extra for one hadm_id : 281378(for mimic_chart_MV) & 244034(for mimic_chart_CV) ("icustay_id")**

In [4]:
mimic_chart_CV = mimic_chart_CV[mimic_chart_CV["icustay_id"] != 244034]

In [5]:
mimic_chart_MV = pd.read_csv("./data/mimic_chart_TS_metavision.csv")

/Users/shutingcui/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8,10,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
mimic_chart_MV = mimic_chart_MV[mimic_chart_MV["icustay_id"] != 281378]
mimic_chart_MV = mimic_chart_MV[mimic_chart_MV['error'] == 0]

* **B. remove the common_itemid_chart from mimic_chart_CV, because those common_itemid_chart originally belongs to Metavision**

In [7]:
print("original mimic_chart_CV's shape: ", mimic_chart_CV.shape)
common_itemid_chart = set(mimic_chart_CV["itemid"].unique()).intersection(set(mimic_chart_MV["itemid"].unique()))
mimic_chart_CV = mimic_chart_CV.loc[~mimic_chart_CV["itemid"].isin(common_itemid_chart)]
mimic_chart_CV.reset_index(drop=True, inplace=True)
print("after dropping the columns from metavision, current mimic_chart_CV's shape is: ", mimic_chart_CV.shape)

original mimic_chart_CV's shape:  (38235037, 17)
after dropping the columns from metavision, current mimic_chart_CV's shape is:  (38077104, 17)

In [8]:
# check whether successfully delete itemids belonging to MV from CV for chart_event data
if list(set(mimic_chart_CV["itemid"].unique()).intersection(set(mimic_chart_MV["itemid"].unique()))) == []:
    print("No common itemid between 2 eras for chartevent data")

No common itemid between 2 eras for chartevent data

In [9]:
if list(set(mimic_chart_CV["hadm_id"].unique()).intersection(set(mimic_chart_MV["hadm_id"].unique()))) == []:
    print("No common hadm_id between 2 eras for chartevent data")

No common hadm_id between 2 eras for chartevent data

* **C. selecting only adult patients in the dataset (need to connect with data in AdultpatientsAge.csv)**

In [10]:
patients_adm_age = pd.read_csv("./data/Adult_patientsAge.csv")

In [11]:
patients_adm_age.loc[patients_adm_age["age"] >= 300, "age"] = 90

In [12]:
adult_hadmid_CV_chart = list(set(mimic_chart_CV["hadm_id"].unique()).intersection(set(patients_adm_age["hadm_id"].unique())))

In [13]:
print("original shape of mimic_chart_CV: ", mimic_chart_CV.shape)
mimic_chart_CV = mimic_chart_CV[mimic_chart_CV["hadm_id"].isin(adult_hadmid_CV_chart)]
print("new shape of mimic_chart_CV: ", mimic_chart_CV.shape)

original shape of mimic_chart_CV:  (38077104, 17)
new shape of mimic_chart_CV:  (34562488, 17)

## Below are the first step to transfer the obvious numeric type itemid in mimic_chart_CV from string to float

In [14]:
# numeric itemid list for chartevent data metavision: list_itemid_num_chart_MV
# categorical itemid list for chartevent data metavision: list_itemid_cat_chart_MV
# labevent data metavision&carevue have been already all numeric
list_itemid_num_chart_CV = []
initial_list_itemid_non_num_chart_CV = []
itemid_list_chart_CV = mimic_chart_CV["itemid"].unique()
chart_CV_groupby_itemid = mimic_chart_CV[["itemid", "value"]].groupby("itemid")
for i,itemid in enumerate(itemid_list_chart_CV):
    cur_itemid_values = chart_CV_groupby_itemid.get_group(itemid)
    try:
        pd.to_numeric(cur_itemid_values["value"], downcast="float")
        list_itemid_num_chart_CV.append(itemid)
    except ValueError:
        temp = pd.to_numeric(cur_itemid_values["value"].unique(), errors='coerce', downcast='float')
        if np.isnan(temp).sum() != len(temp): # this is the case where the non-numerics are actually -> 
            # numeric but due to some terms like error or no data they have gone into non-numeric set.
            list_itemid_num_chart_CV.append(itemid)
        else:
#             print(itemid)
#             print(cur_itemid_values["value"].unique())
            initial_list_itemid_non_num_chart_CV.append(itemid)
        pass
print("number of numeric temporal variables in mimic_chart_CV data: ", len(list_itemid_num_chart_CV))
print("number of non-numeric temporal variables in mimic_chart_CV data: ", len(initial_list_itemid_non_num_chart_CV))

number of numeric temporal variables in mimic_chart_CV data:  1087
number of non-numeric temporal variables in mimic_chart_CV data:  955

## only those "categorical" variables with more than 10 unique values would be considered as the alternative for the numeric variables

In [15]:
itemid_list_chart_CV_numeric_alternative = []
categorical_itemid_list_chart_CV = []
for itemid in initial_list_itemid_non_num_chart_CV:
    cur_itemid_values = chart_CV_groupby_itemid.get_group(itemid)
    if len(cur_itemid_values["value"].unique()) > 10:
        itemid_list_chart_CV_numeric_alternative.append(itemid)
    else:
        categorical_itemid_list_chart_CV.append(itemid)
print(len(itemid_list_chart_CV_numeric_alternative))
print(len(categorical_itemid_list_chart_CV))
print(len(initial_list_itemid_non_num_chart_CV))

146
809
955

In [17]:
cat_itemid_chart_CV_df= pd.DataFrame(dict(itemid_cat_chart_CV=categorical_itemid_list_chart_CV))
cat_itemid_chart_CV_df

     itemid_cat_chart_CV
0                    160
1                    705
2                      1
3                      6
4                   8272
..                   ...
804                 1330
805                 1229
806                  478
807                  616
808                 1046

[809 rows x 1 columns]

In [18]:
cat_itemid_chart_CV_df.to_csv("./data/chart_CV_cat_itemid_list.csv", index=False)

## using Regular Expression to try to match the first index in the series returned by value_counts() for itemids in itemid_list_chart_CV_numeric_alternative
## if the first index has the form "xcm" or "x cm" or "xmm" or "x mm" or "Other/Remarks", then it will be selected to transform to numeric itemid

In [19]:

final_cat_to_num_itemid_list = []
for itemid in itemid_list_chart_CV_numeric_alternative:
    cur_itemid_values = chart_CV_groupby_itemid.get_group(itemid)
    cur_itemid_value_counts = cur_itemid_values["value"].value_counts()
    cur_itemid_first_unique_value = cur_itemid_value_counts.index[0]
    match_result = re.search("^[\d|.|\s]+[[cm]|[mm]]$", cur_itemid_first_unique_value, flags=0)
    if match_result is None:
        continue
    else: 
        if (cur_itemid_first_unique_value == match_result.string) or (cur_itemid_first_unique_value == "Other/Remarks"):
            final_cat_to_num_itemid_list.append(itemid)

<ipython-input-19-c2caa766cc71>:6: FutureWarning: Possible nested set at position 12
  match_result = re.search("^[\d|.|\s]+[[cm]|[mm]]$", cur_itemid_first_unique_value, flags=0)

## "final_cat_to_num_itemid_list" contains the final numeric alternative itemids

In [20]:
final_cat_to_num_itemid_list

[368, 369, 370, 371, 8410, 8411, 8412, 8413, 8463, 39, 561, 562, 563, 157]

In [21]:
rows_need_transform = mimic_chart_CV[mimic_chart_CV["itemid"].isin(final_cat_to_num_itemid_list)]
# rows_need_transform

## For chartevent data, use column "value" to get values for each itemid

* !! Notice that if (type(x["value"]) is float) == True, then current row's "value" is NaN

In [22]:
# if type of column "value" is float, then the corresponding value is NaN
values_to_be_transformed = rows_need_transform[rows_need_transform["value"] != "Other/Remarks"]
values_to_be_transformed[["scalar_value"]] = values_to_be_transformed[["value"]].apply((lambda x: np.nan if (type(x["value"]) is float) else float(re.findall('[\d]+[.]*[\d]*', x["value"])[0])), axis=1)
values_to_be_transformed
# import re

# new_string = '2.4mm'
# new_result = re.findall('[\d]+[.]*[\d]+', new_string)
# print(new_result)

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,valueuom,warning,error,resultstatus,stopped,expire_flag,dbsource,scalar_value
2611518,193302570,147,103631,252947.0,368,2158-06-25 11:00:00,2158-06-25 11:53:00,17399,0.5 cm,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue,0.5
2611537,193151655,3,145834,211552.0,368,2101-10-21 11:00:00,2101-10-21 13:53:00,19942,NaN,NaN,NaN,NaN,NaN,NaN,NotStopd,1,carevue,NaN
2611678,193340348,172,148505,235343.0,368,2168-07-23 09:00:00,2168-07-23 09:25:00,21570,2 cm,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue,2.0
2611679,193340349,172,148505,235343.0,369,2168-07-23 09:00:00,2168-07-23 09:25:00,21570,2 cm,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue,2.0
2611680,193340350,172,148505,235343.0,370,2168-07-23 09:00:00,2168-07-23 09:25:00,21570,2 cm,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33952888,225785523,32759,158709,220657.0,157,2169-10-06 06:00:00,2169-10-06 06:19:00,19637,23cm,NaN,NaN,NaN,NaN,NaN,NotStopd,1,carevue,23.0
33952893,225754864,32736,185249,266299.0,157,2135-08-02 04:00:00,2135-08-02 05:00:00,15498,24cm,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue,24.0
33952897,225763223,32743,133436,257061.0,157,2198-09-06 07:00:00,2198-09-06 07:00:00,21570,NaN,NaN,NaN,NaN,NaN,NaN,D/C'd,0,carevue,NaN
33952901,225757291,32738,199704,237655.0,157,2155-07-19 19:15:00,2155-07-19 19:18:00,18366,24cm,NaN,NaN,NaN,NaN,NaN,NotStopd,1,carevue,24.0
33952904,225763617,32745,145060,295570.0,157,2151-07-15 03:00:00,2151-07-15 03:17:00,21005,22cm,NaN,NaN,NaN,NaN,NaN,NotStopd,1,carevue,22.0

In [23]:
# var "row_id_list_already_tranformed" contains row_id of those itemids that the value of col "value" is not "Other/Remarks"
row_id_list_already_tranformed = values_to_be_transformed["row_id"]
print(len(row_id_list_already_tranformed))

147701

In [24]:
mimic_chart_CV.loc[mimic_chart_CV["row_id"].isin(row_id_list_already_tranformed),['value']] = values_to_be_transformed["scalar_value"]

In [25]:
mimic_chart_CV[mimic_chart_CV["itemid"].isin(final_cat_to_num_itemid_list)]

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,valueuom,warning,error,resultstatus,stopped,expire_flag,dbsource
2611518,193302570,147,103631,252947.0,368,2158-06-25 11:00:00,2158-06-25 11:53:00,17399,0.5,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue
2611537,193151655,3,145834,211552.0,368,2101-10-21 11:00:00,2101-10-21 13:53:00,19942,NaN,NaN,NaN,NaN,NaN,NaN,NotStopd,1,carevue
2611678,193340348,172,148505,235343.0,368,2168-07-23 09:00:00,2168-07-23 09:25:00,21570,2.0,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue
2611679,193340349,172,148505,235343.0,369,2168-07-23 09:00:00,2168-07-23 09:25:00,21570,2.0,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue
2611680,193340350,172,148505,235343.0,370,2168-07-23 09:00:00,2168-07-23 09:25:00,21570,2.0,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33952888,225785523,32759,158709,220657.0,157,2169-10-06 06:00:00,2169-10-06 06:19:00,19637,23.0,NaN,NaN,NaN,NaN,NaN,NotStopd,1,carevue
33952893,225754864,32736,185249,266299.0,157,2135-08-02 04:00:00,2135-08-02 05:00:00,15498,24.0,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue
33952897,225763223,32743,133436,257061.0,157,2198-09-06 07:00:00,2198-09-06 07:00:00,21570,NaN,NaN,NaN,NaN,NaN,NaN,D/C'd,0,carevue
33952901,225757291,32738,199704,237655.0,157,2155-07-19 19:15:00,2155-07-19 19:18:00,18366,24.0,NaN,NaN,NaN,NaN,NaN,NotStopd,1,carevue
33952904,225763617,32745,145060,295570.0,157,2151-07-15 03:00:00,2151-07-15 03:17:00,21005,22.0,NaN,NaN,NaN,NaN,NaN,NotStopd,1,carevue

## Below block is used to check whether successfully transform those rows with non-"Other/Remarks" value from string to float

In [26]:
print(values_to_be_transformed["value"].isna().sum())
print(values_to_be_transformed["scalar_value"].isna().sum())

5240
5240

# next step(continue on the cat_to_num_transformation): groupby itemid on the above mimic_chart_cv[itemid isin final_cat_to_num_itemid_list], transfer all the "other/remark" value into "NaN", leave the "NaN"  as it was

* Purpose of code block [93], [96], [98] is to see whether finish transforming "Other/Remarks" value into the specific scalar

In [27]:
mimic_chart_CV[mimic_chart_CV["row_id"].isin([193180751, 193532947, 193180752, 227888572])][["itemid", "value"]]

         itemid          value
2612809     368  Other/Remarks
2612810     369  Other/Remarks
2615368     368  Other/Remarks
3582492    8412  Other/Remarks

In [28]:
chart_CV_gb_itemid_all_cols = mimic_chart_CV.groupby("itemid")
for itemid in final_cat_to_num_itemid_list:
    cur_item = chart_CV_gb_itemid_all_cols.get_group(itemid)
    with pd.option_context("display.max_rows", None, "display.max_columns", None):
        cur_item_unique_value = list(cur_item["value"].value_counts().index)
        if "Other/Remarks" in cur_item_unique_value:
#             cur_item_unique_value.remove("Other/Remarks")
#             cur_item_max_item_unique_value = max(cur_item_unique_value)
            # var "rows_id_other" are the "row_id" of the rows whose "value" cols equals to "Other/Remarks"
            rows_id_other = cur_item[cur_item["value"]=="Other/Remarks"]["row_id"]
            mimic_chart_CV.loc[mimic_chart_CV["row_id"].isin(rows_id_other),['value']] = None

#         display(cur_item["value"].value_counts())

In [29]:
mimic_chart_CV[mimic_chart_CV["row_id"].isin([193180751, 193532947, 193180752, 227888572])][["itemid", "value"]]

         itemid value
2612809     368  None
2612810     369  None
2615368     368  None
3582492    8412  None

In [30]:
mimic_chart_CV[mimic_chart_CV["itemid"].isin(final_cat_to_num_itemid_list)]["value"].value_counts(dropna=False)

7.5     35117
7.0     16051
23.0    14667
22.0    14598
8.0     13667
21.0    13259
24.0     7128
20.0     6430
NaN      5973
19.0     2747
25.0     2590
2.0      2359
0.5      2331
1.0      2218
3.0      1697
6.0      1494
4.0      1096
26.0     1018
18.0      981
6.5       735
5.0       734
8.5       537
9.0       510
27.0      454
10.0       40
9.5         3
Name: value, dtype: int64

## Then transfer all the itemids in "list_itemid_num_chart_CV" from string to float

* Notice: code block [111] and [110] is for checking whether finishing the transformation (successfully)

In [31]:
for itemid in list_itemid_num_chart_CV:
    mimic_chart_CV.loc[mimic_chart_CV["itemid"]==itemid,['value']] = pd.to_numeric(mimic_chart_CV[mimic_chart_CV["itemid"]==itemid]["value"], errors="coerce")

In [111]:
# list_itemid_num_chart_CV
# mimic_chart_CV_gb_itemid = mimic_chart_CV[["itemid", "value"]].groupby("itemid")
# for itemid in list_itemid_num_chart_CV:
#     cur_itemid_values = mimic_chart_CV_gb_itemid.get_group(itemid)["value"]
#     if itemid == 53 or itemid == 8555:
#         for i in cur_itemid_values.index:
#             print(cur_itemid_values[i])
#             print(type(cur_itemid_values[i]))

In [110]:
# mimic_chart_CV_gb_itemid = mimic_chart_CV[["itemid", "value"]].groupby("itemid")
# for itemid in list_itemid_num_chart_CV:
#     cur_itemid_values = mimic_chart_CV_gb_itemid.get_group(itemid)["value"]
#     if itemid == 53 or itemid == 8555:
#         for i in cur_itemid_values.index:
#             print(cur_itemid_values[i])
#             print(type(cur_itemid_values[i]))

* Also checking whether itemids in final_cat_to_num_itemid_list finishing transforming from string to float/integer type : the value's type tranformation for itemids in final_cat_to_num_itemid_list has already been done in block (successfully)

In [109]:
# for itemid in final_cat_to_num_itemid_list:
#     cur_itemid_values = mimic_chart_CV_gb_itemid.get_group(itemid)["value"]
#     if itemid == 368:
#         for i in cur_itemid_values.index:
#             print(cur_itemid_values[i])
#             print(type(cur_itemid_values[i]))

## combine "list_itemid_num_chart_CV" and "final_cat_to_num_itemid_list", which will be the "final_numeric_itemid_list" for mimic_chart_CV data.
## only keep those itemid in "final_numeric_itemid_list" as the final data used for feature matching algorithm

In [32]:
final_numeric_itemid_list = list_itemid_num_chart_CV + final_cat_to_num_itemid_list
len(final_numeric_itemid_list)

1101

In [33]:
print("original mimic_chart_CV shape: ", mimic_chart_CV.shape)

original mimic_chart_CV shape:  (34562488, 17)

In [34]:
mimic_chart_CV = mimic_chart_CV[mimic_chart_CV["itemid"].isin(final_numeric_itemid_list)]

In [35]:
print("final mimic_chart_CV shape(only keeping the numeric itemid): ", mimic_chart_CV.shape)

final mimic_chart_CV shape(only keeping the numeric itemid):  (16306039, 17)

# Forget one step to filter only the hadm_id in mimic_chart_CV which is common with those hadm_id in mimic_lab_CV

In [36]:
mimic_chart_CV.shape

(16306039, 17)

In [37]:
mimic_lab_CV = pd.read_csv("./data/mimic_lab_CV_reg_pre.csv")

In [38]:
mimic_lab_CV_hadm_id = set(mimic_lab_CV["hadm_id"].unique())
mimic_chart_CV_hadm_id = set(mimic_chart_CV["hadm_id"].unique())
common_hadm_id_CV = mimic_lab_CV_hadm_id.intersection(mimic_chart_CV_hadm_id)
print("hadm_id in mimic_lab_CV: ", len(mimic_lab_CV_hadm_id))
print("hadm_id in mimic_chart_CV", len(mimic_chart_CV_hadm_id))
print("common hadm_id:", len(common_hadm_id_CV))

hadm_id in mimic_lab_CV:  26106
hadm_id in mimic_chart_CV 26352
common hadm_id: 26103

In [39]:
print("original shape for mimic_chart_CV: ", mimic_chart_CV.shape)
mimic_chart_CV = mimic_chart_CV[mimic_chart_CV["hadm_id"].isin(common_hadm_id_CV)]
print("after filtering the uncommon hadmid shape: ", mimic_chart_CV.shape)

original shape for mimic_chart_CV:  (16306039, 17)
after filtering the uncommon hadmid shape:  (16248172, 17)

In [40]:
mimic_chart_CV.to_csv("./data/mimic_chart_CV_only_numeric.csv", index=False)