# This file will make all the files in Processed_Data have the same hadm_id

In [2]:
import pandas as pd

In [3]:
chart_cv_only_cat = pd.read_csv("../Processed_Data/mimic_chart_CV_only_cat.csv")
chart_cv_only_cat_hadm_id = set(chart_cv_only_cat["hadm_id"].unique())

In [4]:
chart_cv_only_num = pd.read_csv("../Processed_Data/mimic_chart_CV_only_numeric_new.csv")
chart_cv_only_num_hadm_id = set(chart_cv_only_num["hadm_id"].unique())

/Users/shutingcui/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
chart_mv_only_cat = pd.read_csv("../Processed_Data/mimic_chart_MV_only_cat.csv")
chart_mv_only_cat_hadm_id = set(chart_mv_only_cat["hadm_id"].unique())

In [6]:
chart_mv_only_num = pd.read_csv("../Processed_Data/mimic_chart_MV_only_numeric_new.csv")
chart_mv_only_num_hadm_id = set(chart_mv_only_num["hadm_id"].unique())

In [7]:
lab_cv = pd.read_csv("../Processed_Data/mimic_lab_CV_reg_pre_new.csv")
lab_cv_hadm_id = set(lab_cv["hadm_id"].unique())

In [8]:
lab_mv = pd.read_csv("../Processed_Data/mimic_lab_MV_reg_pre_new.csv")
lab_mv_hadm_id = set(lab_mv["hadm_id"].unique())

In [9]:
static_cv = pd.read_csv("../Processed_Data/mimic_static_CV.csv")
static_cv_hadm_id = set(static_cv["hadm_id"].unique())

In [10]:
static_mv = pd.read_csv("../Processed_Data/mimic_static_MV.csv")
static_mv_hadm_id = set(static_mv["hadm_id"].unique())

In [11]:
print("chart_cv_only_cat_hadm_id: ", len(chart_cv_only_cat_hadm_id))
print("chart_cv_only_num_hadm_id: ", len(chart_cv_only_num_hadm_id))
print("chart_mv_only_cat_hadm_id: ", len(chart_mv_only_cat_hadm_id))
print("chart_mv_only_num_hadm_id: ", len(chart_mv_only_num_hadm_id))
print("lab_cv_hadm_id: ", len(lab_cv_hadm_id))
print("lab_mv_hadm_id: ", len(lab_mv_hadm_id))
print("static_cv_hadm_id: ", len(static_cv_hadm_id))
print("static_mv_hadm_id: ", len(static_mv_hadm_id))

chart_cv_only_cat_hadm_id:  26066
chart_cv_only_num_hadm_id:  26101
chart_mv_only_cat_hadm_id:  21018
chart_mv_only_num_hadm_id:  21067
lab_cv_hadm_id:  26077
lab_mv_hadm_id:  21080
static_cv_hadm_id:  26066
static_mv_hadm_id:  21018

In [12]:
common_hadm_id_cv = lab_cv_hadm_id.intersection(chart_cv_only_num_hadm_id, chart_cv_only_cat_hadm_id, static_cv_hadm_id)
common_hadm_id_mv = lab_mv_hadm_id.intersection(chart_mv_only_num_hadm_id, chart_mv_only_cat_hadm_id, static_mv_hadm_id)
print("common hadmid cv: ", len(common_hadm_id_cv))
print("common hadmid mv: ", len(common_hadm_id_mv))

common hadmid cv:  26036
common hadmid mv:  20972

# cv era: lab_cv, chart_cv_num, chart_cv_cat, static_cv

* chart_cv_cat

In [13]:
chart_cv_only_cat = chart_cv_only_cat[chart_cv_only_cat["hadm_id"].isin(common_hadm_id_cv)]
chart_cv_only_cat.reset_index(drop=True, inplace=True)
chart_cv_only_cat.head()

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,valueuom,warning,error,resultstatus,stopped,expire_flag,dbsource
0,34360891,30,104557,225176.0,283,2172-10-14 19:00:00,2172-10-14 19:38:00,16018,283_1,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue
1,34332845,13,143045,263738.0,283,2167-01-09 00:00:00,2167-01-09 02:29:00,16866,283_1,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue
2,34339444,17,161087,257980.0,283,2135-05-10 07:00:00,2135-05-10 06:59:00,15039,283_1,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue
3,34337424,17,194023,277042.0,283,2134-12-28 16:00:00,2134-12-28 15:52:00,15652,283_1,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue
4,34337425,17,194023,277042.0,284,2134-12-28 16:00:00,2134-12-28 15:52:00,15652,284_1,NaN,NaN,NaN,NaN,NaN,NotStopd,0,carevue

In [14]:
chart_cv_only_cat.to_csv("../Processed_Data/mimic_chart_CV_only_cat.csv", index=False)

* chart_cv_num

In [15]:
chart_cv_only_num = chart_cv_only_num[chart_cv_only_num["hadm_id"].isin(common_hadm_id_cv)]
chart_cv_only_num.reset_index(drop=True, inplace=True)
chart_cv_only_num.to_csv("../Processed_Data/mimic_chart_CV_only_numeric_new.csv", index=False)

* lab_cv

In [16]:
lab_cv = lab_cv[lab_cv["hadm_id"].isin(common_hadm_id_cv)]
lab_cv.reset_index(drop=True, inplace=True)
lab_cv.to_csv("../Processed_Data/mimic_lab_CV_reg_pre_new.csv", index=False)

* static_cv

In [17]:
static_cv = static_cv[static_cv["hadm_id"].isin(common_hadm_id_cv)]
static_cv.reset_index(drop=True, inplace=True)
static_cv.to_csv("../Processed_Data/mimic_static_CV.csv", index=False)

# mv era: lab_mv, chart_mv_num, chart_mv_cat, static_mv

* chart_mv_cat

In [18]:
chart_mv_only_cat = chart_mv_only_cat[chart_mv_only_cat["hadm_id"].isin(common_hadm_id_mv)]
chart_mv_only_cat.reset_index(drop=True, inplace=True)
chart_mv_only_cat.to_csv("../Processed_Data/mimic_chart_MV_only_cat.csv", index=False)

* chart_mv_num

In [19]:
chart_mv_only_num = chart_mv_only_num[chart_mv_only_num["hadm_id"].isin(common_hadm_id_mv)]
chart_mv_only_num.reset_index(drop=True, inplace=True)
chart_mv_only_num.to_csv("../Processed_Data/mimic_chart_MV_only_numeric_new.csv", index=False)

* lab_mv

In [20]:
lab_mv = lab_mv[lab_mv["hadm_id"].isin(common_hadm_id_mv)]
lab_mv.reset_index(drop=True, inplace=True)
lab_mv.to_csv("../Processed_Data/mimic_lab_MV_reg_pre_new.csv", index=False)

* static_mv

In [21]:
static_mv = static_mv[static_mv["hadm_id"].isin(common_hadm_id_mv)]
static_mv.reset_index(drop=True, inplace=True)
static_mv.to_csv("../Processed_Data/mimic_static_MV.csv", index=False)